<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="SFDCT"/>
            <dependentAssembly>
                <assemblyIdentity name="Superfighters Deluxe" publicKeyToken="null" culture="neutral"/>
                <bindingRedirect oldVersion="1.0.9542.24927" newVersion="1.0.0.0"/>
                <codeBase version="1.0.0.0" href="SFDCT/Core.dll"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>